<div class="well text-center">
    <h1>{{book.title}}</h1>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <img ng-src="{{book.image}}" alt="">
    </div>
    <div class="col-md-6">
        <div class="well">
            <dl class="dl-horizontal">
                <dt>Author</dt>
                <dd><a ng-href="#/search?query={{book.author}}">{{book.author}}</a></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Year</dt>
                <dd>{{book.year}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Summary</dt>
                <dd>{{book.summary}}</dd>
            </dl>
        </div>
    </div>
</div>